<ul th:fragment="navigation(currentUrl)">
    <li th:class="${currentUrl == '/' ? 'active' : ''}">
        <a href="/"><img src="/images/home.png" alt="Home"></a>
    </li>
    <li th:if="${clientId != null}" th:class="${currentUrl == '/clients/client-page' ? 'active' : ''}">
        <a th:href="@{/clients/client-page}">Client Page</a>
    </li>
    <li  th:class="${currentUrl == '/coaches/coach-page' ? 'active' : ''}">
        <a th:href="@{/coaches/coach-page}">Coach Page</a>
    </li>
    <li style="float:right" th:class="${currentUrl == '/clients/settings' ? 'active' : ''}">
        <a href="/clients/settings"><img src="/images/settings.png" alt="Settings"></a>
    </li>
    <li style="float:right" th:class="${currentUrl == '/coaches/settings' ? 'active' : ''}">
        <a href="/coaches/settings"><img src="/images/settings.png" alt="Settings"></a>
    </li>
    <li style="float:right" th:class="${currentUrl == '/login' ? 'active' : ''}">
        <a href="/login"><img src="/images/login.png" alt="Login"></a>
    </li>
    <li style="float:right"> <a href="/logout"><img src="/images/logout.png" alt="Logout"></a></li>

</ul>
