<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise List</title>
</head>
<body>
<h2>List of Exercises</h2>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Equipment Needed</th>
        <th>Difficulty Level</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exercise : ${exercises}">
        <td th:text="${exercise.name}"></td>
        <td th:text="${exercise.description}"></td>
        <td th:text="${exercise.exerciseEquipment.displayName}"></td>
        <td th:text="${exercise.exerciseDifficultyLevel}"></td>
        <td>
            <form id="deleteForm" th:action="@{/exercise/delete/{id}(id=${exercise.id})}" method="post">
                <button type="button" onclick="confirmDelete()">Delete</button>
            </form>
        </td>
        <td>
            <a th:href="@{/exercise/update/{id}(id=${exercise.id})}">Update</a>
        </td>
        <td>

            <a th:href="@{/exercise/details/{id}(id=${exercise.id})}">Details</a>
        </td>
    </tr>

    <tr>
        <a th:href="@{/exercise/create}"><button>Create New Exercise</button></a>
    </tr>
    </tbody>
</table>

<script>
    function confirmDelete() {
        if (confirm("Are you sure you want to delete this item?")) {
            document.getElementById("deleteForm").submit();
        }
    }
</script>

</body>
</html>
