<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Exercise</title>
</head>
<body>
<h2>Create Exercise</h2>
<form action="/exercise/create" method="post" th:object="${exercise}">
    <label>Name:</label>
    <input type="text" th:field="*{name}" required/><br/>

    <label>Description:</label>
    <textarea th:field="*{description}" required></textarea><br/>

    <label>Equipment Needed:</label>
    <select th:field="${exercise.exerciseEquipment}" required>
        <option value="">Select exercise equipment</option>
        <option th:each="equipment : ${exerciseEquipmentList}"
                th:value="${equipment}" th:text="${equipment}">
        </option>
    </select>

    <label>Difficulty Level:</label>
    <select th:field="${exercise.exerciseDifficultyLevel}" required>
        <option value="">Select difficulty level</option>
        <option th:each="level : ${difficultyLevels}"
                th:value="${level}" th:text="${level}">
        </option>
    </select>


    <input type="submit" value="Create"/>
</form>
</body>
</html>
