<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PDF Document</title>
</head>
<body>
<h1>PDF Document</h1>
<p>
    ID: <span th:text="${workout.id}"></span><br/>
    Contract ID: <span th:text="${workout.contractId}"></span><br/>
    Date of Workout: <span th:text="${workout.dateOfWorkout}"></span><br/>
    Ordinal Number of Workout: <span th:text="${workout.ordinalNumberOfWorkout}"></span><br/>
    Number of Exercises: <span th:text="${workout.numberOfExercises}"></span><br/>
    Warming Up Time (Seconds): <span th:text="${workout.warmingUpTimeInSeconds}"></span><br/>
    Number of Sets: <span th:text="${workout.numberOfSets}"></span><br/>
    Pause Between Sets (Seconds): <span th:text="${workout.pauseBetweenSetsInSeconds}"></span><br/>
    Self Rating: <span th:text="${workout.selfRating}"></span><br/>
    Is Finished: <span th:text="${workout.isFinished}"></span><br/>
    Workout Status: <span th:text="${workout.workoutStatus}"></span><br/>
    <!-- Display other properties similarly -->
</p>
<h2>HELLO</h2>

<form method="post" action="/generate-pdf">
    <input type="hidden" name="htmlContent" th:value="${workout}" />
    <button type="submit">Download PDF</button>
</form>

</body>
</html>
