<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workout Details with Session Entry</title>
</head>
<body>
<h1>Workout Details</h1>
<table border="1">
    <thead>
    <tr>
        <th>Date of Workout</th>
        <th>Ordinal Number of Workout</th>
        <th>Number of Exercises</th>
        <th>Warming Up Time (in seconds)</th>
        <th>Number of Sets</th>
        <th>Pause Between Sets (in seconds)</th>
        <th>Self Rating</th>
    </tr>
    </thead>
    <tbody>
    <!-- Display details of the workout -->
    <tr>
        <td th:text="${workout.dateOfWorkout}"></td>
        <td th:text="${workout.ordinalNumberOfWorkout}"></td>
        <td th:text="${workout.numberOfExercises}"></td>
        <td th:text="${workout.warmingUpTimeInSeconds}"></td>
        <td th:text="${workout.numberOfSets}"></td>
        <td th:text="${workout.pauseBetweenSetsInSeconds}"></td>
        <td th:text="${workout.selfRating}"></td>
    </tr>
    </tbody>
</table>

<h1>Enter Workout Sessions</h1>
<form id="updateForm" th:action="@{/workoutSession/update/{workoutID}(workoutID=${workout.id})}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="workoutId" th:value="${workout.id}" />

    <table>
        <thead>
        <tr>
            <th>Exercise</th>
            <th>Number of Reps</th>
            <th>Pause After Exercise (in seconds)</th>
            <th>Weight</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workoutSession, iterStat : ${workoutSessionList}">
            <td>
                <!-- Hidden input for workoutSession ID -->
                <input type="hidden" th:name="workoutSessionDTOList[__${iterStat.index}__].id"
                       th:value="${workoutSession.id}" />
                <!-- Exercise name -->
                <input type="text" th:name="workoutSessionDTOList[__${iterStat.index}__].exerciseName"
                       placeholder="Exercise Name" />
            </td>
            <td>
                <!-- Number of Reps -->
                <input type="number" th:name="workoutSessionDTOList[__${iterStat.index}__].numberOfReps"
                       placeholder="Number of Reps" />
            </td>
            <td>
                <!-- Pause After Exercise in seconds -->
                <input type="number" th:name="workoutSessionDTOList[__${iterStat.index}__].pauseAfterExerciseInSeconds"
                       placeholder="Pause After Exercise (in seconds)" />
            </td>
            <td>
                <!-- Weight -->
                <input type="text" th:name="workoutSessionDTOList[__${iterStat.index}__].weight"
                       placeholder="Weight" />
            </td>
        </tr>
        </tbody>
    </table>

    <input type="submit" value="Save Workout Sessions"/>
</form>


</body>
</html>
