<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coach Page</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/favicon.png}"/>
</head>
<body>
<h1>Check</h1>

<form th:action="@{/exercise}" method="get">
    <button type="submit">Go to Exercise Page</button>
</form>

<h1>Contracts</h1>
<table border="1">
    <thead>
    <tr>
        <th>Client First Name</th>
        <th>Client Second Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Monthly Price</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contract : ${coachesListContracts}">
        <td th:text="${contract.client.user.firstName}"></td>
        <td th:text="${contract.client.user.lastName}"></td>
        <td th:text="${contract.startDate}"></td>
        <td th:text="${contract.endDate}"></td>
        <td th:text="${contract.monthlyPrice}"></td>
        <td>
            <!-- Button to call the /workout endpoint with contract-id -->
            <form th:action="@{/workout}" method="get">
                <input type="hidden" th:name="contractID" th:value="${contract.id}" />
                <button type="submit">View Workouts</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
