<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client page</title>
    <link rel="stylesheet" th:href="@{/css/navigation.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>
<div th:insert="~{fragments/navigation :: navigation('/clients/client-page')}"></div>
<br>
<br>
<br>
<br>
<br>
<div style="overflow-x: auto;">
    <table th:if="${coaches}">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>City</th>
            <th>Country</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Years of Experience</th>
            <th>Education</th>
            <th>Monthly Price</th>
        </tr>
        <tr th:each="coach : ${coaches}">
            <td th:text="${coach.userFirstName}"></td>
            <td th:text="${coach.userLastName}"></td>
            <td th:text="${coach.userCity}"></td>
            <td th:text="${coach.userCountry}"></td>
            <td th:text="${coach.userGender}"></td>
            <td th:text="${coach.userAge}"></td>
            <td th:text="${coach.yearsOfExperience}"></td>
            <td th:text="${coach.education}"></td>
            <td th:text="${coach.monthlyPrice}"></td>
        </tr>
    </table>
</div>
    <p th:unless="${coaches}">No coaches available.</p>
</body>
</html>
