<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client page</title>
    <link rel="stylesheet" th:href="@{/css/navigation.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div th:insert="~{fragments/navigation :: navigation('/clients/client-page')}"></div>
<br>
<br>
<br>
<br>
<div>
    <label for="educationFilter">Education:</label>
    <select id="educationFilter">
        <option value="">Any</option>
        <option value="HIGH_SCHOOL">High school</option>
        <option value="BACHELORS">Bachelors</option>
        <option value="MASTERS">Masters</option>
        <option value="PHD">PHD</option>
    </select>

    <label for="experienceFilter">Experience:</label>
    <select id="experienceFilter">
        <option value="">Any</option>
        <option value="2">2+ years</option>
        <option value="5">5+ years</option>
        <option value="7">7+ years</option>
        <option value="10">10+ years</option>
    </select>

    <label for="monthlyPriceFilter">Monthly Price:</label>
    <select id="monthlyPriceFilter">
        <option value="">Any</option>
        <option value="10.0">10+ €</option>
        <option value="15.0">15+ €</option>
        <option value="20.0">20+ €</option>
        <option value="25.0">25+ €</option>
        <option value="30.0">30+ €</option>
        <option value="35.0">35+ €</option>
        <option value="40.0">40+ €</option>
    </select>
    <label for="ageFilter">Age:</label>
    <select id="ageFilter">
        <option value="">Any</option>
        <option value="20">20+ years</option>
        <option value="25">35+ years</option>
        <option value="30">30+ years</option>
        <option value="35">35+ years</option>
        <option value="40">40+ years</option>
        <option value="45">45+ years</option>
        <option value="50">50+ years</option>
    </select>

    <label for="genderFilter">Gender:</label>
    <select id="genderFilter">
        <option value="">All</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>

    <button type="button" onclick="filterCoaches()">Apply Filters</button>
</div>

<div style="overflow-x: auto;">
    <div th:replace="~{fragments/coach_table :: coach_table}"></div>
</div>

<p th:unless="${coaches}">No coaches available.</p>

<script th:src="@{/js/filterCoaches.js}"></script>
</body>
</html>
