<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{/css/navigation.css}">
</head>
    <body>
        <ul>
             <li><a class="active" href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li style="float:right"><a href="/login">Login</a></li>
        </ul>
    </body>
</html>

